.singleCardMuseumWrapper{
    width: 215px;
    /* height: 326px; */
    padding-top: 15px;
    display: flex;

}

.singleCardMuseumWrapper:hover {
    background-color: rgba(255, 255, 255, 0.197);
    cursor: pointer;
    border-radius: 15px;
    min-width: 215px;
    /* height: 326px; */
    padding-top: 15px;
}

.singleCardMuseumContent{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: flex-start;
   flex: 1 1 calc(25% - 20px);
   /* height: 100%; */
   /* width: 300px; */
}

.eachMuseumImageDiv{
    /* height: 50%; */
    height: 200px;
    width: 205px;
}

.eachMuseumImage{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 50%; */
}

.cardContent h3{
    /* font-size: 16px; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 100px;
    margin: 20px 3px 0 3px;
    text-align: center;

}
.cardContent h4 {
    margin: 10px 0 0 0;
    /* font-size: 14px; */
    font-weight: normal;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.h4Location{
    width: 100%;
    display: flex;
   
    justify-content: center;

   
}