.allMusuemsDisplay{
    display: flex;
    gap: 20px;
    min-height: 42vh;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.eachMuseumWrapper{
    align-items: center;
    width: 100vw;
    display: flex;
    min-height: 71vh;
    flex-direction:  column;
    justify-content: center;
    padding: 95px 0 0 0;
}