.split-section {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  background: #ffffff;
}

.split-row {
  
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.split-row.reverse {
  display: flex;
    flex-direction: row-reverse;
}

.split-text,
.split-image {
  flex: 1;
}
.split-text h2 {
  /* font-size: 3rem; */
  font-weight: 500;
  margin-bottom: 1.5rem;
  color:#000000
}

.split-text p {
  /* font-size: 1.1rem; */
  line-height: 1.7;
  color: #555;
  margin-bottom: 1rem;
}

.split-link {
  display: inline-block;
  margin-top: 1.5rem;
  font-weight: 500;
  color: #3b51f6;;
  text-decoration: none;
}


.split-image img {
  width: 100%;
  height: 450px;

  object-fit: contain;

  padding: 10px;

  box-sizing: border-box;

  background-color: #f0f2f5;

  display: block;
  overflow: hidden;
  transition: transform 0.5s ease;
}



.split-image-top img {
  border-top-right-radius: 160px;
  border-bottom-left-radius: 24px;
  
 
}

.split-image-bottom img {
  border-top-left-radius: 160px;
  border-bottom-right-radius: 24px;
}

.split-image:hover img {
  transform: scale(1.03);

}
.imageSection{
  border-radius: 50px;
}

@media (max-width: 900px) {
  .split-row,
  .split-row.reverse {
    flex-direction: column;
  }

  .split-section {
    /* padding: 4rem 2rem; */
  }

  .split-text h2 {
    /* font-size: 2.2rem; */
  }
}


@media (max-width: 1024px) {


  .split-section {
    gap: 1rem;

  }

  .split-row {
    gap: 1em;
    width: 90%;
  }

  .split-text h2 {
    /* font-size: 2rem; */

  }

    .split-text  {
      /* font-size: 0.8rem; */
      
    }
    

   
  .split-image img {
    height: 380px;
    padding: 5px;
  
  }

  .imageSection{
    width: 30px;
  }

  .split-image-top img {
    border-top-right-radius: 100px;
  }

  .split-image-bottom img {
    border-top-left-radius: 100px;
  }
}
@media (max-width: 768px) {

  .split-row,
  .split-row.reverse {
    flex-direction: column;
    text-align: center;
  
  }



  .split-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .split-text p {
    font-size: 1rem;
    max-width: 500px;
    /* Stop text from getting too wide to read */
    margin: 0 auto 1.5rem auto;
    /* Center the text block */
  }

  .split-image {
    width: 100%;
    display: flex;
    justify-content: center;

  }

  .split-image img {
    height: auto;

    max-height: 350px;

    object-fit: contain;

  }


  .split-image-top img {
    border-top-right-radius: 60px;
  }

  .split-image-bottom img {
    border-top-left-radius: 60px;
  }
}


@media (max-width: 480px) {

  .split-section {


    gap: 4rem;
  }

  .split-text h2 {
    font-size: 1.1rem;
  }

     .split-text p {
       font-size: 0.85rem;
       max-width: 500px;

       margin: 0 auto 1.5rem auto;

     }

  .split-image img {
    max-height: 250px;
  }
}
