.allEventsWrapper{
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.allEventsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventsList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}